node_modules/
.DS__Store
*.log
.idea
haters/
variables.env

public/uploads/*
views/OGlayout.pug
public/dist/*
public/dist/App.bundle.js
public/dist/App.bundle.js.map
public/dist/style.css
auth/oauth.js
