extends layout


block content
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal
                    .card-header
                        h4.card-title
                            | Add Co-Hosts to Zoom Meetings
                    .card-content
                        .form-group
                            label.col-md-3.control-label Co-Host Email
                            .col-md-3
                                input.form-control(type="text", value='LiveOnlineService@kaplan.com, loltech@kaplan.com', disabled)
                        .form-group
                            label.col-md-3.control-label Email
                            .col-md-3
                                textarea.form-control(rows="8", placeholder='Paste a list of comma or return separated emails')
                        .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-3
                                button.btn.btn-fill.btn-default#addCoHosts(type='submit') Add Co-Hosts
    .row
        .col-lg-12.col-md-12
            .card#resultsCard.hidden
                .card-header
                    h4.card-title#percentage
                        | Progress: 0%
                .card-content
                    .progress
                        .progress-bar.progress-bar-success(style='width: 0%')
                            span.sr-only 0% Complete (success)
                    .row
                        .col-md-3
                            ul#success
                        .col-md-3
                            ul#fail
