extends layout


block content
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal
                    .card-header
                        h4.card-title
                            | Brightcove Batch Retranscode
                    .card-content
                        .form-group
                            label.col-md-3.control-label Select BC Account:
                            .col-md-3
                                .btn-group.bootstrap-select
                                    select.selectpicker#bcAcccount
                                        each acc in bcAccounts
                                            option(value=acc.id)=acc.name
                        .form-group
                            label.col-md-3.control-label Videos to be Transcoded:
                            .col-md-3
                                textarea.form-control.datepicker#vidoesToTranscode(placeholder='List to Retranscode', rows='5' required)
                        .form-group
                            label.col-md-3.control-label Type of ID :
                            .col-md-3
                                .radio
                                    input.form-control(type="radio", name="idType", value="refId", id="listByRefID" checked)
                                    label(for='refid')
                                        | RefID
                                .radio
                                    input.form-control(type="radio", name="idType", value="id", id="listById")
                                    label(for='id')
                                        | ID
                        .form-group
                            label.col-md-3.control-label Select Rendition Profile:
                            .col-md-3
                                .btn-group.bootstrap-select
                                    select.selectpicker#bcRenditionProfile
                                        each rend in bcRenditions
                                            option(value=rend)=rend
                    .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-9
                                button.btn.btn-fill.btn-info#batchRetranscode(type='submit') Start Batch Retranscode
            .card
                .card-content
                    .div#percentage
                    .progress
                        .progress-bar.progress-bar-success(style='width: 0%')
                            span.sr-only 0% Complete (success)
