extends layout


block content
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal
                    .card-header
                        h4.card-title
                            | Brightcove Batch Retranscode
                    .card-content
                        .form-group
                            label.col-md-3.control-label Select BC Account:
                            .col-md-3
                                .btn-group.bootstrap-select
                                    select.selectpicker#acccount
                        .form-group
                            label.col-md-3.control-label Videos Updated After:
                            .col-md-3
                                textarea.form-control.datepicker#datepicker(placeholder='List to Retranscode')
                    .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-9
                                button.btn.btn-fill.btn-info#videoRenditions(type='submit') Get Renditions