extends layout


block content
  .container-fluid
    .row
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-warning.text-center
                  i.ti-server
              .col-xs-7
                .numbers
                  p Capacity
                  | 	                                            105GB
          .card-footer
            hr
            .stats
              i.ti-reload
              |  Updated now
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-success.text-center
                  i.ti-wallet
              .col-xs-7
                .numbers
                  p Revenue
                  | 	                                            $1,345
          .card-footer
            hr
            .stats
              i.ti-calendar
              |  Last day
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-danger.text-center
                  i.ti-pulse
              .col-xs-7
                .numbers
                  p Errors
                  | 	                                            23
          .card-footer
            hr
            .stats
              i.ti-timer
              |  In the last hour
      .col-lg-3.col-sm-6
        .card
          .card-content
            .row
              .col-xs-5
                .icon-big.icon-info.text-center
                  i.ti-twitter-alt
              .col-xs-7
                .numbers
                  p Followers
                  | 	                                            +45
          .card-footer
            hr
            .stats
              i.ti-reload
              |  Updated now