extends layout

include mixins/_progressBar

block content
    .card
        .card-content
            .toolbar
                .row
                    .col-md-3
                        input.form-control#bcVideoId(type='text', placeholder='BC Video ID.')
                    .col-md-3
                        button.btn.btn-default#hapyCreateProj Create Project
                        button.btn.btn-default#hapyDeleteProj Delete Project
            .fresh-datatables
                table#hapyakProjects.table.table-striped.table-no-bordered.table-hover
                    thead
                        tr
                            th _Id
                            th Id
                            th Title
                            th Video
                            th Brightcove Video ID
                            th Track
                            th Created
                    tfoot
                        tr
                            th _Id
                            th Id
                            th title
                            th Video
                            th Brightcove Video ID
                            th Track
                            th Created
