extends layout

include mixins/_progressBar
include mixins/_bcAccountPicker
include mixins/_bcRefTypeRadio
include mixins/_bcVideoTextbox

block content
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal#mediaShareForm
                    .card-header
                        h4.card-title
                            | Media Sharing Batch
                    .card-content
                        +bcAccountPicker(bcAccounts, "bcAccountSource")
                        +videoTextbox()
                        +refTypeRadio()
                        +bcAccountPicker(bcAccounts, "bcAccountDest", "Select Destination BC Account:")
                    .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-9
                                button.btn.btn-fill.btn-default#mediaShareBtn(type='submit') Share Videos
                                span#status
    +progressBar()

