extends layout

include mixins/_progressBar
include mixins/_bcAccountPicker
include mixins/_bcRefTypeRadio
include mixins/_bcVideoTextbox

block content
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal#thumbnailUploadForm(action="/bcThumbnailUpload" method="POST" enctype="multipart/form-data")
                    .card-header
                        h4.card-title
                            | Step 1: Uplaod Thumbnail
                    .card-content
                        .form-group
                            label.col-md-3.control-label Select Image to Upload:
                            .col-md-3
                                input.btn.btn-default#selectThumbnail(type="file" name="thumbnail" accept="image/gif, image/png, image/jpeg")
                    .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-9
                                button.btn.btn-fill.btn-default#updateThumbnails(type='submit') Upload Thumbnail Image
                                span#status
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal#thumbnailUpdateForm
                    .card-header
                        h4.card-title
                            | Step 2: Update Thumbnail
                    .card-content
                        .form-group
                            label.col-md-3.control-label Uploaded Image
                            .col-md-3
                                input.form-control#uploadedImage(type="text" disabled)
                        +bcAccountPicker(bcAccounts)
                        +videoTextbox()
                        +refTypeRadio()
                    .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-9
                                button.btn.btn-fill.btn-default#updateThumbnails(type='submit') Update Thumbnails
    +progressBar()
