extends layout

include mixins/_bcAccountPicker
include mixins/_bcAccountPicker
include mixins/_bcDatePicker

block content
    .row
        .col-lg-12.col-md-12
            .card
                form.form-horizontal
                    .card-header
                        h4.card-title
                            | Brightcove Video Renditions List
                    .card-content
                        +bcAccountPicker(bcAccounts)
                        +datePicker("Videos Updated From", "dateFrom")
                        +datePicker("Videos Updated To", "dateTo" )
                    .card-footer
                        .form-group
                            label.col-md-3
                            .col-md-9
                                button.btn.btn-fill.btn-default#videoRenditions(type='submit') Get Renditions
    .row
        .col-lg-12.col-md-12
            .card#resultsCard.hidden
                .card-content
                    .fresh-datatables
                        table#renditionsTable.table.table-striped.table-no-bordered.table-hover
                            thead
                                tr
                                    th Video ID
                                    th Account ID
                                    th Reference ID
                                    th Video Name 
                                    th Description 
                                    th State 
                                    th Created At 
                                    th Updated At
                                    th Published At
                                    th Duration 
                                    th Folder ID
                                    th Digital Master ID
                                    th Tags 
                                    th Text Track ID 
                                    th Text Track Src 
                                    th Text Track Lang
                                    th Text Track Label
                                    th Text Track Kind 
                                    th Renditions 
                                    th Renditions Count
                            tfoot
                                tr
                                    th Video ID
                                    th Account ID
                                    th Reference ID
                                    th Video Name 
                                    th Description 
                                    th State 
                                    th Created At 
                                    th Updated At
                                    th Published At
                                    th Duration 
                                    th Folder ID
                                    th Digital Master ID
                                    th Tags 
                                    th Text Track ID 
                                    th Text Track Src 
                                    th Text Track Lang
                                    th Text Track Label
                                    th Text Track Kind 
                                    th Renditions 
                                    th Renditions Count