extends layout


block content
    .card
        .card-content
            .toolbar
                .buttons
                    button.btn.btn-default#test Show selected
                    button.btn.btn-default#delete Delete Selected (1)
            .fresh-datatables
            table#datatables.table.table-striped.table-no-bordered.table-hover
                thead
                    tr
                        th ID
                        th Meeting ID
                        th User
                        th Topic
                        th Start Time
                        th End Time
                        th File Size
                tfoot
                    tr
                        th ID
                        th Meeting ID
                        th User
                        th Topic
                        th Start Time
                        th End Time
                        th File Size