extends layout


block content
    .card
        .card-content
            .toolbar
                button.btn.btn-default#test Show selected
            .fresh-datatables
            table#datatables.table.table-striped.table-no-bordered.table-hover
                thead
                    tr
                        th Uuid
                        th Id
                        th Account ID
                        th Host Id
                        th Topic
                        th Start Time
                        th Timezone
                        th Duration
                        th Size
                        th Count
                tfoot
                    tr
                        th Uuid
                        th Id
                        th Account ID
                        th Host Id
                        th Topic
                        th Start Time
                        th Timezone
                        th Duration
                        th Size
                        th Count