extends layout


block content
    .card
        .card-content
            .toolbar
                button.btn.btn-default#delete Delete Selected
            .fresh-datatables
            table#datatables.table.table-striped.table-no-bordered.table-hover
                thead
                    tr
                        th ID
                        th Meeting ID
                        th User
                        th Topic
                        th Start Time
                        th End Time
                        th File Size
                        th File Type
                tfoot
                    tr
                        th ID
                        th Meeting ID
                        th User
                        th Topic
                        th Start Time
                        th End Time
                        th File Size
                        th File Type