mixin datePicker(label="Select Date")
    .form-group
        label.col-md-3.control-label Videos Updated After:
        .col-md-3
            input.form-control.datepicker#datepicker(type='text', placeholder='Select Date here')