mixin datePicker(label="Select Date", id="datepicker")
    .form-group
        label.col-md-3.control-label= label
        .col-md-3
            input.form-control.datepicker.datepicker(id=id, type='text', placeholder='Select Date here')