mixin videoTextbox(label="Videos to be shared:")
    .form-group
        label.col-md-3.control-label #{label}
        .col-md-3
            textarea.form-control#vidoesToUpdate(placeholder='Videos to be shared.', rows='8' required)