mixin progressBar()
    .row
        .col-lg-12.col-md-12
            .card#resultsCard.hidden
                .card-header
                    h4.card-title#percentage
                        | Progress: 0%
                .card-content
                    .progress
                        .progress-bar.progress-bar-success(style='width: 0%')
                            span.sr-only 0% Complete (success)
                    .row
                        .col-md-6
                            ul#success
                        .col-md-6
                            ul#fail